
video{
    width: 100%;
}

#videoControls {
        position:relative;
        bottom: 60px;
        width: 100%;
        opacity: 0;
        &.showing{
            opacity: 1;
        }
    }


#timeline{
    width: 99%;   
}

#videoControls__Btn  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px ;
    padding-bottom: 10px;
}
#playBtn {
    margin-right: 15px;
}