doctype html
html(lang="ko")
    head
        title #{pageTitle} | wetube-practice
        
    body 
        header 
            h1 This is #{pageTitle}     
        main 
            block content

    include partials/footer.pug
