doctype html
html(lang="ko")
    head
        title #{pageTitle} | wetube-practice
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 This is #{pageTitle}     
            a(href="/") home
        main 
            block content

    include partials/footer.pug
