extends base

block content
    video(src="/"+video.fileUrl, controls)
    div
        button#playBtn
            i.fas.fa-play
        span#currentTime 00:00
        span  / 
        span#totalTime 00:00    
    div    
        button#mute
            i.fas.fa-volume-off    
    div 
        small uploaded by #{video.owner.name}
    if String(loggedInUser._id) ===String(video.owner._id)
        a(href=`${video.id}/edit`) Edit &larr;
        br
        a(href=`${video.id}/delete`) Delete &larr;
block scripts
    script(src="/static/js/videoPlayer.js")