header 
    a(href="/")
        ii.fab.fa-youtube 
            nav
                ul 
                    li
                    li
                        a(href="/videos/upload") upload Video  
                    li
                        a(href="/search") Search   
