header 
    a(href="/")
        ii.fab.fa-youtube 
            nav
                ul 
                    li
                        a(href="/videos/upload") upload Video  
                    li
                        a(href="/search") Search  
                    li
                        a(href="/join") Join     
                    li
                        a(href="/login") Login             
